.btn {
  // Reset
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  // Base styles
  padding: 0.5em 1.4em;
  font-size: 18px;
  font-weight: 500;
  border-radius: $button-radius;
  border-width: 1px;
  border-style: solid;
  transition: color 200ms, background-color 200ms, border-color 200ms;

  &:focus-visible {
    outline-style: solid;
    outline-offset: 2px;
  }

  &.fill-outline {
    background-color: transparent;
  }

  // Generate button fill variants for a given color
  @mixin button-fill-variants($color, $hover-color) {
    &.fill-solid {
      border-color: $color;
      background-color: $color;
      color: white;
    }

    &.fill-outline {
      border-color: $color;
      color: $color;
    }

    &.fill-inverted {
      border-color: white;
      background-color: white;
      color: $color;
    }

    // Hover and focus styles (shared)
    &.fill-solid, &.fill-outline, &.fill-inverted {
      @include hover('&:focus, &:focus-visible') {
        border-color: $hover-color;
        background-color: $hover-color;
        color: white;
      }
      
      &:focus-visible {
        outline-color: $hover-color;
      }
    }
  }

  // Blue button
  &.color-blue {
    @include button-fill-variants($blue, $blue-hover);
  }

  // Green button
  &.color-green {
    @include button-fill-variants($green, $green-hover);
  }

}